<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Tuusula Lake
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/message">Guestbook</a></li>
            <li><a href="/input">Your feedback</a></li>
            <li><a href="/guestbook2">MyJSON</a></li>

        </ul>

    </div>
</nav>