<div class="row">
    <div class="column">
        <p>Explore Lake Tuusula!
            Visiting Lake Tuusula, which is located only half an hour from Helsinki and 15 minutes from Helsinki-Vantaa
            airport, is like experiencing the whole of Finland in miniature. Our lakeside is attractive and tranquil and
            it is difficult to believe you are not far from the capital city!
            Historical artists’ villas tell you the story of how Finnish culture was created. Come and enjoy the area,
            with its peacefulness and rich cultural heritage, at your leisure.</p>
    </div>
    <div class="column"><img src="img/kuva.png" alt="TuusulaLake" height="42" width="42"></div>
</div>